::-webkit-scrollbar {
    width: 0px;
    background-color: #f5f5f541;
    visibility: hidden;
  }
  
  /* Color and rounded corners of the scrollbar handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(114, 112, 133, 0);
    border-radius: .6rem;
  }
  
  /* Color and rounded corners on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  /* Optional: Styling the scrollbar buttons/arrow icons */
::-webkit-scrollbar-button {
    background-color: nonoe;
  }